extends ./layout.pug

block content

  include partials/section-preloader.pug
  include partials/section-home.pug
  include partials/section-features.pug

block foot

  include partials/section-footer.pug
  include partials/footer-scripts.pug
