doctype html
html
  head
    title storpug - Storage is Awesome

    include partials/head-meta.pug
    include partials/head-favicon.pug
    include partials/head-css.pug
    include partials/head-scripts.pug
    include partials/head-ie-files.pug

  body

    block content

    block foot