// Modernizer
script(src='js/vendors/modernizr.custom.js')
// IE specific files
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="js/vendors/html5shiv.js"></script>
  <script src="js/vendors/respond.min.js"></script>
<![endif]-->

<!--[if IE 9]>
  <link href="css/ie.css" rel="stylesheet" media="screen">
<![endif]-->

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="js/vendors/html5shiv.js"></script>
  <script src="js/vendors/respond.min.js"></script>
  <![endif]-->

<!--[if IE 9]>
  <link href="css/ie.css" rel="stylesheet" media="screen">
<![endif]-->