// ###############################
// HOME ##########################
// ###############################
section#home
  .container
    .row
      #homescreen.col-sm-10.col-sm-offset-1.col-md-10.col-md-offset-1.col-lg-10.col-lg-offset-1
        #logo
          a(href='#home')
            img#logo_img(src='images/logo.png', alt='logo')
        #logo_header
          h5 storpug
        #slogan
          h1
            | Coming soon
            br
            |                         to a storage facility near you.
        a#button_more.cta1(href='#') Learn More
        a#button_signup.cta2(href='#') Sign Up
        // <a href="#" class="cta2" id="button_download">Download Now</a>
        // <img src="images/homescreen.png" class="img-responsive" id="home_image" alt="img">
      .clearfix
