//- section#features_2
//-   .container
//-     .row
//-       #features_2_content.col-sm-6.col-md-6.col-lg-6
//-         h2 Self Storage management made easy
//-         p
//-           | Make it easy for 
//-         .feature
//-           svg.feature_icon(viewbox='0 0 32 32')
//-             use(xlink:href='#ribbon')
//-           div
//-             h4 Video background
//-             p
//-               | Epsum factorial non deposit quid pro quo
//-               br
//-               | hic escorol.
//-         .feature
//-           svg.feature_icon(viewbox='0 0 32 32')
//-             use(xlink:href='#rotate')
//-           div
//-             h4 Cool animations
//-             p
//-               | Epsum factorial non depositquid pro quo
//-               br
//-               | hic escorol.
//-       .col-sm-6.col-md-6.col-lg-6
//-         img#features2a_image.img-responsive.image_back(src='images/features2b.png', alt='img')
//-         img#features2b_image.img-responsive.image_front(src='images/features2a.png', alt='img')

section#features_3
  .container
    #features_3_intro.row
      .col-sm-6.col-sm-offset-3.col-md-6.col-md-offset-3.col-lg-6.col-lg-offset-3
        h2 Self Storage management made easy
        p
          | Make it easy for customers to connect with your business.
    .row
      #features_3_content_left.col-sm-4.col-md-4.ol-lg-4
        .feature
          h4 Easy Bill Pay
          p
            | Fast, secure, and simple to use. Get paid on-time with automated billing reminders.
        .feature
          h4 Rent a Unit
          p
            | Allow customers to rent a unit at their convenience, right from their phone or computer.
      #features_3_content_center.col-sm-4.col-md-4.ol-lg-4
        img#features3_image.img-responsive(src='images/features3.png', alt='img')
      #features_3_content_right.col-sm-4.col-md-4.ol-lg-4
        .feature
          h4 Reserve a Unit
          p
            | Give customers the option to reserve a unit ahead of time. They can come in when they're ready.
        .feature
          h4 Space Estimator
          p
            | Make it easy for customers to pick the right size unit for their needs with a guided space estimator.

section.arrows_box.arrows_box_bg.arrows_no_border
  .arrows
    svg#features_3_arrow_next.arrow_down(viewbox='0 0 32 32')
      use(xlink:href='#right-arrow')
    svg#features_3_arrow_back.arrow_up(viewbox='0 0 32 32')
      use(xlink:href='#left-arrow')